

{% block tituloPestana %} Guardar Categoría {% endblock %}
{% block tituloPagina %} Nueva Categoría {% endblock %}

{% block contenido %}
<form action="{% url 'guardar_categoria' %}" method="post">
    {% csrf_token %}
    <div class="form-group row">
        <label for="id_nombre" class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text" id="id_nombre" name="nombre" class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label for="id_estado" class="col-sm-3 col-form-label">Estado</label>
        <div class="col-sm-9">
            <input type="checkbox" id="id_estado" name="estado" class="form-check-input">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>
{% endblock %}
